@import "tailwindcss";

@theme {
    --animate-bounce-light: bounce-light 3s ease-in-out infinite;

    @keyframes bounce-light {
        0%,
        100% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-10px);
        }
    }
}

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@import "./prism.css";
