apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

images:
  - name: blog
    newName: ghcr.io/corybuecker/blog
    digest: sha256:d8d812c30a9ff8b9f023185f04e41dd83875e689896b1625e10f3c1b3ea0b122

resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - httproute.yaml
  - pod_disruption_budget.yaml

configMapGenerator:
  - name: blog
    namespace: blog
    literals:
      - LOG_LEVEL=debug
      # - METRICS_ENDPOINT=http://prometheus.prometheus.svc.cluster.local:9090/api/v1/otlp/v1/metrics
      # - TRACING_ENDPOINT=http://jaeger.jaeger.svc.cluster.local:4318/v1/traces
