{% extends "layout.html" %}
{% block content %}
    <article>
        <h1>{{ homepage.title }}</h1>
        {% set published_at_long = homepage.published_at["$date"]["$numberLong"] | int %}
        {% set published_at = published_at_long / 1000 %}
        <time datetime="{{ published_at | date }}">{{ published_at | date }}</time>
        {% if page.revised_at %}
            {% set revised_at_long = homepage.revised_at["$date"]["$numberLong"] | int %}
            {% set revised_at = revised_at_long / 1000 %}
            (revised on <time datetime="{{ revised_at | date }}">{{ revised_at | date }}</time>)
        {% endif %}
        {{ homepage.markdown | safe }}
    </article>
    <h2 class="text-2xl">Older posts</h2>
    <ul>
        {% for page in pages %}
            <li>
                <a class="underline hover:no-underline" href="/post/{{ page.slug }}">{{ page.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
