name: continuous-delivery

permissions:
  packages: write

on:
  push:
    branches:
      - main

concurrency:
  group: continuous-delivery
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f
      - uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8
        with:
          push: true
          tags: ghcr.io/corybuecker/blog:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
